body {
    display: flex;
    overflow-x: hidden;
    flex-direction: column;
    color: #333333;
    background-color: #eaf6ff;;
    }
    #logoImg {
    height: auto;
    width: 150px;
    margin: -16px 6px;
    }
    .navbar .user-info span {
    margin-right: 10px;
    color: #101a18;
    /* color: white; */
    }
    .navbar .user-icon {
    color: #101a18;
    cursor: pointer;
    }
    .navbar {
    color: white;
    /* background-color: black; */
    background: linear-gradient(160deg, #101a18, #80cbbc);
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 2;
    border-bottom: 1px solid #e0e0e0;
    }
    
    .sidebar {
    /* background-color: black; */
    background: linear-gradient(160deg, #101a18, #80cbbc);
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    padding-top: 20px;
    width: 13%;
    height: 100vh;
    padding: 50px 0px;
    transition: transform 0.3s ease;
    scrollbar-color: white white;
    }
    .sidebar .nav-link {
    color: #ffffff;
    cursor: pointer;
    }
    .sidebar .nav-link:hover {
    background-color: rgba(255, 255, 255, 0.2);
    }
    .sidebar .nav-link.active,
    .sidebar .nav-link.selected {
    background-color: rgba(255, 255, 255, 0.2);
    cursor: default;
    border: none;
    }
    #orderNo{
    text-align: center;
    height: 4vh;
    border: 1px solid #248287;
    border-radius: 10px;
    margin: 1% 37.7%;
    }
    .main-content {
    width: 100%;
    flex-grow: 1;
    padding: 20px;
    margin-left: 4%;
    margin-top: 5%;
    transition: margin-left 0.3s ease;
    }
    .submenu {
    display: block; 
    }
    .nav-item > .submenu {
    padding-left: 20px;
    }
    .nav-item .nav-link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    }
    .nav-item .nav-link i {
    margin-right: 10px;
    }
    .chevron-icon {
    margin-left: auto;
    cursor: pointer;
    }
    .submenu .nav-link {
    display: block;
    margin-left: 20px;
    }
    .toggle-sidebar {
    display: none;
    color: white;
    font-size: 24px;
    cursor: pointer;
    }
    @media (max-width: 768px) {
    .sidebar {
    transform: translateX(-100%);
    width: 70%;
    }
    .sidebar.show {
    transform: translateX(0);
    }
    .main-content {
    margin-left: 0;
    }
    .toggle-sidebar {
    display: block;
    }
    }
    /* Specific styles for the New Order Entry page */
    #addoBtn {
    margin: 0% 38.1%;
    background: linear-gradient(160deg, #101a18, #80cbbc);
    color: white;
    }
    #addoBtn:hover {
      transform: translateY(-2px);
      box-shadow: 0 4px 10px rgba(74, 144, 226, 0.3);
    }
    #newOrderForm {
    margin: -2% 0% -2% 12%;
    }
    .firstRow {
    border: 1px solid #248287;
    border-radius: 10px;
    margin: -3% 18% 4% 2%;
    padding: 1%;
    color: #023f42;
    }
    .firstRow input {
    border: 1px solid #c8d8c9;
    }
    #sState{
      border: 1px solid #c8d8c9;
    }
    .firstFive {
    margin: 0% 0% 0% -1%;
    width: 122%;
    height: 8vh;
    }
    .firstSix{
    margin: 0% 0% 0% -1%;
    width: 102%;
    height: 8vh;
    }
    .priceRow {
    padding: 14px;
  border: 1px solid #c0c0c0;
  border-radius: 10px;
  width: 100%;
  margin: 0 auto;
  height: auto; 
  display: flex;
  flex-direction: column;
    }
    .form-group {
    margin-bottom: 15px;
    }
    .form-control[readonly] {
    background-color: #e9ecef;
    }
    #below{
    margin: -4%;
    }
    #salesAgent {
    margin: 12% 58%;
    border-radius: 10px;
    height: 5vh;
    text-align: center;
    color: black;
    background-color: grey;
    border: none;
    display: none;
    }
    #orderDate {
    margin: 12% 66%;
    width: 90%;
    border-radius: 10px;
    color: grey;
    height: 5vh;
    text-align: center;
    background-color: black;
    display: none;
    }
    h2 {
      text-align: center;
        margin-top: -2%;
        text-decoration-line: underline;
        color: #023f42;
    }
    #expediteS {
      display: flex;
      background-color:white;
        align-items: center;
        border: 1px solid #c0c0c0;
        border-radius: 5px;
        color: #6e5e5e;
        height: 3vh;
    }
    #darkModeIcon {
      cursor: pointer;
        color: #101a18;
        font-size: 20px;
    }
    #notificationIcon {
      cursor: pointer;
        position: relative;
        color: #101a18;
        margin-left: -19%;
        font-size: x-large;
    }
    #dsCall{
      display: flex;
        align-items: center;
        border: 1px solid #c0c0c0 !important;
        border-radius: 5px;
        color: #6e5e5e;
        height: 3vh;
        background-color: white !important;
    }
    #programmingRequired{
      display: flex;
        align-items: center;
        border: 1px solid #c0c0c0 !important;
        border-radius: 5px;
        color: #6e5e5e;
        height: 3vh;
        background-color: white !important;
        margin-left: 0.2%;
    }
    /* Dark Mode Styles */
    /* for dark mode */
    .dark-mode {
    background-color: #141b2d;
    color: #999999;
    }
    .dark-mode h2{
    color: #999999;
    }
    .dark-mode .firstRow {
    color: white;
    border: 1px solid #484b4b;
    background-color: #2c3e50;
    border: 5px solid #1b1b37;
    }
    .dark-mode #addoBtn {
    background-color: #2c3e50;
    }
    .dark-mode #expediteS{
      background-color: #676e77;
        border: 1px solid black;
        color: #2f2f2f;
    }
    .dark-mode .form-control{
    border: 1px solid black;
    background-color: #676e77;
    }
    .dark-mode .dollars{
      border: none;
    background-color: #c2c0c0;
    }
    .dark-mode #orderNo {
      background-color: #061832;
    }
    .dark-mode .navbar .user-info span, #darkModeIcon, #notificationIcon, #userMenu{
      color: white;
    }
    .dark-mode .navbar, 
    .dark-mode .sidebar {
      background: #1f2940;
      border-color: #333;
      scrollbar-color: #1f2940 #1f2940;
    }
    
    .dark-mode .nav-link,
    .dark-mode .nav-link i {
    color: #b3b3b3 !important;
    }
    
    .dark-mode .nav-link:hover,
    .dark-mode .nav-link.selected {
    background-color: rgba(255, 255, 255, 0.1);
    }
    
    .dark-mode .main-content {
    background-color: #141b2d;
    color: #e0e0e0;
    }
    
    .dark-mode .chart-wrapper,
    .dark-mode .chart-item-monthly {
    background-color: #1f1f1f;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    }
    
    .dark-mode .rate-item {
    background-color: #333;
    }
    /* notification */
    .notification-badge {
      position: absolute;
      top: -5px;
      right: -10px;
      background-color: red;
      color: white;
      font-size: 12px;
      padding: 2px 6px;
      border-radius: 50%;
      display: none; 
    }
    
    .notification-dropdown ul {
      list-style: none;
      padding: 10px;
      margin: 0;
      /* border: 1px solid black; */
    }
    .notification-dropdown ul li {
      padding: 8px;
      border-bottom: 1px solid #f0f0f0;
    }
    .notification-dropdown ul li:last-child {
      border-bottom: none;
    }
    #notificationDropdown {
      overflow-y: auto;
      /* padding: 10px; */
      border: 1px solid #ccc;
      background-color: white;
      color: black;
      width: 234%;
      display: none;
      position: absolute;
      top: 50px;
      right: 0px;
      box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
      z-index: 1000;
      border: 2px solid black;
    }
    #viewAlltasks {
      margin: 3% 37%;
        border: none;
        text-decoration-line: underline;
        color: red;
        font-weight: bold;
    }
    .modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Dark overlay behind the modal */
    /* z-index: 999; Places it just below the modal div */
    }
    body.modal-active {
    overflow: hidden; /* Prevents background scrolling when modal is active */
    }
    #addNewPartBtn{
      width: 16%;
    }
    #programmingCostQuoted{
      margin-left: -0.3%;
        height: 3vh;
        margin-top: 0% !important;
        width: 101%;
        margin-bottom: 3%
    }